// fonts
$font-family-base: 'Poppins', sans-serif;
$fa-font-path: '../../../assets/fonts/fontawesome';

// colors
$primary: #DF0A1A;
$secondary: #0D6491;
$success: #2dd36f;
$warning: #ffc409;
$danger: $primary;
$dark: #212529;
$medium: #c4c4c4;
$light: #ffffff;
$body-color: $dark;
