// fonts
$font-family-base: 'Poppins', sans-serif;
$fa-font-path: '../../../assets/fonts/fontawesome';

// colors
$primary: #00b3b3;
$secondary: #0D6491;
$success: #2dd36f;
$warning: #ffc409;
$danger: #DF0A1A;
$dark: #212529;
$medium: #c4c4c4;
$light: #ffffff;
$body-color: $dark;

// nav
$navbar-padding-y: 1.5rem;
$navbar-nav-link-padding-x: 2rem;
$navbar-light-color: $dark;
$navbar-light-active-color: black;
$navbar-light-hover-color: black;
$navbar-light-brand-color: $dark;

// button
$btn-padding-x: 2rem;
$btn-padding-y: .5rem;

// text
$line-height-base: 2;

// border-radius
$border-radius: 10px;
